/*https://learn.javascript.ru/css-center*/
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1600px;
    margin: 50px auto auto auto;
    background-color: #f7f7f7;
}
.welcome {
    height: 725px;
    background-image: url(img/welcome-bg.png);
}
.header {
    padding-top: 13px;
}
.topbar {
    height: 83px;
    background-image: url(img/topbar-bg.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbar-logo {
    display: inline-block;
    vertical-align: middle;
}
.topbar-logo-top-text {
    text-transform: capitalize;
}
.topbar-logo-bottom-text {
    text-transform: uppercase;
}
.topbar-phone {
    margin-left: 155px;
}
.topbar-phone-ico {
    display: inline-block;
}
.topbar-phone-text {
    margin-left: 14px;
    display: inline-block;
}
.topbar-email {
    margin-left: 39px;
}
.topbar-email-ico {
    display: inline-block;
}
.topbar-email-text {
    margin-left: 14px;
    display: inline-block;
}
.topbar-search {
    margin-left: 100px;
}
.topbar-search-input {
    width: 142px;
    height: 15px;
    border: 1px solid #fff;
    color: #ffffff;
    padding: 12px 16px;
    background-image: url(img/topbar-bg.svg);
/*    opacity: 0.5;*/

}
.topbar-search-input::placeholder {
    color: #ffffff;
}
.topbar-search-go {
    border: 1px solid #fff;
    display: inline-block;
    height: 15px;
    padding: 12px 16px;
    margin: 0px;
    text-decoration: none;
}
.topbar-search-ico {

}
.menu {
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
}
.menu-item {
    list-style-type: none;
}
.menu-link {
    text-decoration: none;
    padding: 10px 13px;
    text-transform: capitalize;
    color: #000;
}
.menu-link-active {
    color: #fff;
    border-bottom: 3px solid #fff;
}
.welcome-board {
    margin-top: 134px;
    text-align: center;
}
.welcome-top-text {
    display: inline-block;
}
.welcome-main-text {
    margin-top: 76px;
    color: #fff;
}
.welcome-socials {
}
.welcome-socials-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 88px 6px 0px;
}
.welcome-socials-link:hover {
    border-color: #000;
}
.welcome-socials-link:active {
    border-color: aqua;
}
.welcome-socials-ico {
    display: inline-block;
}
.about-us {
    clear: both;
    overflow: hidden;
    width: 972px;
    margin: 81px auto;
    background-color: #fff;
}
.about-us-header {
    overflow: hidden;
    margin-top: 14px;
    padding-right: 33px;

}
.about-us-text {
    overflow: hidden;
    margin-top: 35px;
    padding-right: 33px;
}
.about-us-img {
    float: right;
}
.services {
    border: 2px solid red;
}
services-row {
/*    margin: 0 auto;*/
/*
    display: flex;
    align-items: center;
    justify-content: center;
*/
    border: 3px solid blue;
}
.service {
    width: 450px;
    text-align: right;
    display: inline-block;
}
.service-description {
    display: inline-block;
}
.service-header {
    display: inline-block;
}
.service-text  {
    display: inline-block;
}
.service-link {
    display: inline-block;
    width: 102px;
    height: 102px;
    border: 1px solid #acacac;
    border-radius: 50%;
    background-color: #e1e1e1;
}
.service-ico {
}
