body {
    background-color: #f8f8f8;
}


.menu li {
    list-style-type: none;
    background-color: azure;
    width: 140px;
    border: 1px solid black;
    text-align: center;
}


.menu li a {
    color: cadetblue;
    text-decoration: none;
    font: bold 18px Arial;
}


.menu li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.menu li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.menu li a:hover {
    color:crimson
}


.product_short_descr,
.product_full_descr,
.product_specif {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}



.product_short_descr + p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}


.product_full_descr + p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.product_specif + ul {
    color: darkmagenta;
    font-size: 18px;
    line-height: 34px;
    background-color: floralwhite;
    list-style-image: url(img/listmarker.png);
}


.product_img {
    background-color: darkgray;
    padding: 5px;
}


.feedback input[type="text"],
.feedback textarea {
    width: 300px;
    color: cornflowerblue;
    font: italic 17px "Times New Roman";
}
